<div>
  <nb-card>
    <nb-card-header>Make a Withdrawal</nb-card-header>
    <nb-card-body>
      <nb-stepper orientation="horizontal" linear="true">
        <nb-step label="Enter Amount" [stepControl]="firstForm">
          <form [formGroup]="firstForm">
            <div class="input-group">
              <label for="amount">Enter Amount</label>
              <input nbInput fullWidth fieldSize="giant" type="text" class="form-control text-large"
                formControlName="amount" name="amount"
                [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
            </div>
            <button nbButton nbStepperNext fullWidth status="primary">Confirm Amount</button>
          </form>
        </nb-step>
        <nb-step label="Select Withdrawal Method">
          <form [formGroup]="secondForm">
            <div class="input-group">
              <nb-select formControlName="paymentType" [size]="'giant'" [fullWidth]="true" placeholder="Select Payment Type">
                <nb-option *ngFor="let type of pta" [value]="type">{{ type }}</nb-option>
              </nb-select>
            </div>
            <div class="input-group">
              <textarea nbInput fullWidth placeholder="Enter Account Information e.g Bitcoin Address"></textarea>
            </div>
            <button nbButton nbStepperNext fullWidth status="primary">Confirm Details</button>
          </form>
        </nb-step>
        <nb-step label="Complete" [stepControl]="thirdForm">
          <form [formGroup]="thirdForm" (ngSubmit)="requestWithdrawal()">
            <div class="input-group">
              <input nbInput fullWidth fieldSize="giant" type="text" placeholder="Confirm Password" class="form-control"
                formControlName="password"
                [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
            </div>
            <button nbButton fullWidth status="primary">Request Withdrawal</button>
          </form>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
</div>
