<section>
  <nb-card [nbSpinner]="!order">
    <nb-card-header>
      <label class="label">Purchase Order ID: <b>{{ order?.id }}</b></label>
      <ng-container *ngIf="vendorBid">
        <br />
        <span class="text-danger mr-2">You have Already Placed a Bid for this Order</span>
        <button nbButton size="tiny" status="default">View</button>
      </ng-container>
    </nb-card-header>
    <nb-card-body>
      <ng-container *ngIf="order">
        <ng-container *ngIf="userS.UserInfo?.role == role.ADMIN">
          <button class="mx-1" nbButton status="danger" size="medium" (click)="delete()">
            Delete Order
          </button>
        </ng-container>
        <ng-container *ngIf="userS.UserInfo?.role == role.VENDOR && !vendorBid">
          <button class="mx-1" nbButton status="success" size="medium" (click)="bid()">
            Place Bid
          </button>
        </ng-container>
        <ng-container *ngIf="userS.UserInfo?.role == role.ADMIN">
          <button class="mx-1" nbButton status="primary" size="medium" [routerLink]="['/orders/' + order?.id + '/bids']"
            [queryParams]="{ orderId: order?.id }">
            See Bids
          </button>
        </ng-container>
      </ng-container>
    </nb-card-body>
  </nb-card>

  <nb-card [nbSpinner]="!order">
    <nb-card-header>
      <label class="label">Items needed:</label>
    </nb-card-header>
    <nb-card-body>
      <div class="my-2">
        <nb-list>
          <nb-list-item>
            <div class="row w-50">
              <div class="col-md-4"><label class="label">Name</label></div>
              <div class="col-md-2"><label class="label">Price</label></div>
              <div class="col-md-3"><label class="label">Quantity</label></div>
              <div class="col-md-3"><label class="label">Total</label></div>
            </div>
          </nb-list-item>
          <nb-list-item *ngFor="let item of rfo?.items">
            <div class="row w-50">
              <div class="col-md-4">
                <label>{{ item?.name }}</label>
              </div>
              <div class="col-md-2">
                <label>{{ item?.amount }}</label>
              </div>
              <div class="col-md-3">
                <label>{{ item?.quantity }}</label>
              </div>
              <div class="col-md-3">
                <label>{{ item?.total }}</label>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      <label class="label">Other Information</label>
    </nb-card-header>
    <nb-card-body>
      <div class="my-2">
        <nb-list>
          <nb-list-item>
            <span>
              <label class="label"> Comment: </label>
              <label><b>{{ rfo?.comment }}</b></label>
            </span>
          </nb-list-item>
          <nb-list-item>
            <label class="label"> Attachment: </label>
            <b><a *ngIf="rfo?.attachment" [href]="rfo?.attachment" target="_blank">
                Click to Download
              </a></b>
            <label *ngIf="!rfo?.attachment"> <b>None</b></label>
          </nb-list-item>
          <nb-list-item>
            <label class="label">No of Bids: </label>
            <label><b>{{ bids?.length || 0 }}</b></label>
          </nb-list-item>
        </nb-list>
      </div>
    </nb-card-body>
  </nb-card>
</section>
