<div class="row header-row">
  <div class="col-md-2">
    <label class="ml1 label">Id</label>
  </div>
  <div class="col-md-3">
    <label class="ml1 label"> Name</label>
  </div>
  <div *ngIf="userRole !== role.VENDOR" class="col-md-2">
    <label class="ml1 label"> Ordered By</label>
  </div>
  <div *ngIf="userRole !== role.VENDOR" class="col-md-2">
    <label class="ml1 label"> Approved By</label>
  </div>
  <div class="col-md-2">
    <label class="label">Created On</label>
  </div>
  <div class="col-md-1">
    <label class="label">Status</label>
  </div>
</div>

<nb-list [nbSpinner]="loadingOrders">
  <nb-list-item class="col-12 list-item" *ngFor="let o of ordersInView" [ngClass]="{
      brCompleted: o.status == ps.BIDDING,
      brCompleted: o.status == ps.ASSIGNED,
      brInprogress: o.status == ps.PAUSED,
      brCancelled: o.status == ps.CANCELLED
    }" (click)="view(o.id)">
    <div class="list-item-inner">
      <div class="row">
        <div class="col-md-2">
          <span class="fs">{{ o?.id }}</span>
        </div>
        <div class="col-md-3">
          <span class="fs">{{ o?.name }}</span>
        </div>
        <div *ngIf="userRole !== role.VENDOR" class="col-md-2">
          <ng-container>
            <span class="fs">{{ o?.createdBy | getName | async }}</span>
          </ng-container>
        </div>
        <div *ngIf="userRole !== role.VENDOR" class="col-md-2">
          <ng-container>
            <span class="fs">{{ o?.approvedBy | getName | async }}</span>
          </ng-container>
        </div>
        <div class="col-md-2">
          <span class="fs">{{ o?.createdOn | date }}</span>
        </div>
        <div class="col-md-1">
          <div class="font-weight-bold badge pj-badge" [ngClass]="{
              completed: o.status == ps.BIDDING,
              completed: o.status == ps.ASSIGNED,
              inprogress: o.status == ps.PAUSED,
              cancelled: o.status == ps.CANCELLED
            }">
            {{ o.status | uppercase }}
          </div>
        </div>
        <div class="col-md-2">
          <!--   <button type="button" nbButton size="small" status="default">
            Place Bid
          </button> -->
        </div>
      </div>
    </div>
  </nb-list-item>
  <nb-list-item *ngIf="ordersInView.length == 0">
    <label class="text-center label" *ngIf="loadingOrders === false">No Current Orders</label>
  </nb-list-item>
</nb-list>
<div class="text-center py-2" *ngIf="canPaginate && !loadingOrders">
  <button nbButton size="small" status="primary" (click)="paginate()">
    Load More
  </button>
</div>
