<section>
 <div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <label class="label">Available Staffs</label>
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let user of staffs">
            <div class="w-100">
              <nb-user size="small" [name]="user.name" [title]="user.role">
              </nb-user>
              <br />
              <button (click)="addToTeam(user?.id)" nbButton size="tiny" status="primary">Add to Procurement Team</button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <label class="label">Team Members</label>
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let user of team">
            <div class="w-100">
              <nb-user size="small" [name]="user?.id | getName | async">
              </nb-user>
              <br />
              <button (click)="remove(user?.id)" nbButton size="tiny" status="danger">Remove</button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
 </div>
</section>
