.pointer {
  cursor: pointer;
}

.d-block {
  display: block;
  text-decoration: underline;
}

.n-title {
  font-size: .5rem
}

.n-message {
  font-size: .3rem;
}

.n-route{
  cursor: pointer;
  text-decoration: underline;
  font-size: .3rem;
}
