.pointer {
  cursor: pointer;
}

.d-block {
  display: block;
  text-decoration: underline;
}
.n-header {
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0.5rem;
  }

  .label {
    font-size: 0.6rem;
  }
}

.n-title {
  font-size: 0.8rem;
}

.n-message {
  font-size: 0.7rem;
}

.n-route {
  cursor: pointer;
  text-decoration: underline !important;
  font-size: 0.7rem;
}

.n-route:hover {
  color: #a16eff !important;
}

nb-list-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


