.pointer {
  cursor: pointer;
}

.d-block {
  display: block;
  text-decoration: underline;
}
.n-header {
  display: flex;
  justify-content: space-between;
}

.n-title {
  font-size: 0.8rem;
}

.n-message {
  font-size: 0.7rem;
}

.n-route {
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.7rem;
}
