<section>
  <div>
    <nb-card>
      <nb-card-header>
        All Vendors
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item>
            <div class="row w-100">
              <div class="col-2"><label class="label">ID</label></div>
              <div class="col-3"><label class="label">Name</label></div>
              <div class="col-3"><label class="label">Email</label></div>
              <div class="col-2"><label class="label">Joined On</label></div>
              <div class="col-2"></div>
            </div>
          </nb-list-item>
          <nb-list-item *ngFor="let v of vendors">
            <div class="row w-100">
              <div class="col-2"><label>{{ v?.id | slice:0:10 }}</label></div>
              <div class="col-3"><label>{{ v?.name }}</label></div>
              <div class="col-3"><label>{{ v?.email }}</label></div>
              <div class="col-2"><label>{{ v?.createdOn }}</label></div>
              <div class="col-2">
                <button nbButton size="small" status="primary">View Profile</button>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</section>
