<section>
  <div>
    <nb-card>
      <nb-card-header>
        <label class="label">Terms and Conditions</label>
      </nb-card-header>
      <nb-card-body>
        <div class="py-2">
          <p>
            By clicking the “sign up” button and completing the account registration process, you confirm that
            you understand and agree to the terms and conditions together with any document that may be
            expressly referred to and are incorporated by reference.
            As we accept your order and make an enforceable agreement without further reference to you, you
            ust read these terms and conditions to make sure they contain all that you want and nothing that you
            are not happy with. If you are not sure about anything, kindly send an email to
            <a href="#" target="_blank"><strong>vendor@vagangroup.com</strong></a>
          </p>
          <h6>PAYMENT TERMS:</h6>
          <p>Payment for items supplied shall be made upon the following:
          </p>
          <ul>
            <li>Successful delivery of items to stated location and within the period of time specified</li>
            <li>Successful installation of items (for items that require installation)</li>
            <li>satisfactory confirmation of the delivered items by the designated officer</li>
            <li>45 days after submission of invoice</li>
          </ul>

          <div class="py-2">
            <p>
              <b>WARRANTIES</b> By accepting any Purchase Order, vendors warrants that the goods and services
              furnished will be free from defects in materials and workmanship, merchantable and in full
              conformity with Vagan’s specifications, drawings, data, descriptions, promises, or samples, and that
              such goods will be fit for the intended use. Vendors shall warrants that goods or services covered by
              any Purchase Order shall not infringe any patent, design, mask work, copyright or trademark, of any
              third party, either directly or contributory. vendors agree not to indemnify vagan and hold vagan
              harmless from and against all liability, loss, damage and expense, including reasonable counsel fees
              and costs of litigation, resulting from any claim of infringement and any litigation relating thereto. In
              the case where goods or a part thereof are held to constitute infringement and the use of the goods
              or a part thereof is enjoined or doesn’t not meet the standard as specified in the purchase order,
              vendor shall, at their expense, either
            </p>
          </div>
          <ol>
            <li> procure for the Buyer the rights to continue to using the goods,
            <li> replace the goods so that the goods become non-infringing/or meeting the specified standards, or </li>
            <li>retake the goods and refund the purchase price and transportation and installation cost of the
              goods to Vagan. Such obligations shall survive acceptance of the goods or services and payment
              therefore by Vagan.Where applicable, the vendor warrants that the goods covered by this Purchase
              Order are in compliance with all laws, regulations, rules, and orders relating to the importation of
              goods into the Nigeria and appropriate covering documentation are also made available to vagan if
              required.</li>
          </ol>
        </div>

        <div class="py-2">
          <p><b>ANTI-KICKBACK CLAUSE</b> Gratuities/Kickbacks. Vendors agrees not to provide or offer any
          representative, officer, director or employee of the vagan oil, or any member of such person’s family,
          any favours, gifts, gratuities or favourable treatment for the purpose of securing any future business
          opportunities.</p>
        </div>

        <div class="py-2">
          <p><b>RISK OF LOSS</b> The risk of loss shall pass to vagan upon receipt of goods at destination. Risk of loss of
          all goods shall remain in vendor’s until receipt by vagan at destination, unless otherwise specified . </p>
        </div>

        <div class="py-2"><p><b>CONFIDENTIALITY; LIMITED USE</b> Unless otherwise agreed by VAGAN OIL in writing, VENDORS shall
          keep confidential and not disclose to any third party, any confidential and/or proprietary materials
          provided by VAGAN, including but not limited to any drawings, masters, software, specifications, raw
          materials, components, data, business information or plans, customer lists or other customer
          information (“Confidential Information”). vENDORS shall not make any copies of Confidential
          Information except as specifically authorized by VAGAN OIL in writing. At the completion of ANY
          Purchase Order, or upon VAGAN’S request, VENDORS shall promptly return to Buyer all Confidential
          Information not consumed in the performance of ANY Purchase Order. VENDORS shall use
          Confidential Information solely for performance of Purchase Orders for VAGAN. </p></div>
        <div class="py-2"><p><b>INDEMNIFICATION</b> vendors agree to indemnify, defend, and hold vagan oil harmless from and against
          all losses, damages, liability, actions, judgments, costs, and expenses (including, but not limited to,
          reasonable attorneys’ fees and other expenses of litigation), suffered, incurred, or asserted by or
          against vagan oil </p>
          <ol>
            <li>by reason of VENDOR’S breach of a warranty,</li>
            <li>by reason of VENDOR’S breach of any term Mentioned in this term and condition, or </li>
            <li>by reason of personal injury, including death, or property damage sustained by a third party,
              resulting from or arising out of an act or omission of vendor, or vendor’s agents, employees, or
              contractors in fulfilment of any purchase order</li>
          </ol>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</section>
