.input-group {
  margin-top: 1rem;
}

section {
  margin-bottom: 2rem;
}

.add-file {
  border: dashed 2px gray;
  cursor: pointer;
  i {
    font-size: 2rem;
    color: gray;
  }
}
.add-file:hover {
  background-color: rgb(240, 240, 240);
}
.file_upload {
  opacity: 0.0;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape or and older firefox browsers */
  -moz-opacity: 0.0;

  /* older Safari browsers */
  -khtml-opacity: 0.0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height:100%;
  cursor: pointer;
}

