<section>
  <ng-container>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div>
        <nb-card>
          <nb-card-header>
            <label class="">Add a New Employee</label>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <label class="label" for="name">Employee Name</label>
                  <input
                    nbInput
                    fullWidth
                    fieldSize="medium"
                    type="text"
                    name="name"
                    class="form-control"
                    formControlName="name"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <label class="label" for="email">Email Address</label>
                  <input
                    nbInput
                    fullWidth
                    fieldSize="medium"
                    type="email"
                    name="email"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <label class="label" for="select-role">Select Role</label>
                  <nb-select fullWidth formControlName="role">
                    <nb-option value="staff">Staff</nb-option>
                    <nb-option
                      *ngIf="userS.UserInfo.role == role.SUPER"
                      value="admin"
                      >Admin</nb-option
                    >
                    <nb-option
                      *ngIf="userS.UserInfo.role == role.SUPER"
                      value="super admin"
                      >Super Admin</nb-option
                    >
                  </nb-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <button type="submit" nbButton fullWidth status="primary">
                  Add Employee
                </button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </form>
  </ng-container>
</section>

<section>
  <div>
    <nb-card [nbSpinner]="loading">
      <nb-card-header>
        <label class="label">Staffs</label>
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let staff of staffs">
            <div class="w-100">
              <nb-user size="small" [name]="staff.name" [title]="staff.role">
              </nb-user>
              <br />
              <button
                *ngIf="userS.UserInfo.role == role.SUPER"
                (click)="makeAdmin(staff?.id)"
                nbButton
                size="tiny"
                status="primary"
              >
                Make Admin
              </button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</section>

<section>
  <ng-container *ngIf="userS.UserInfo.role == role.SUPER">
    <div>
      <nb-card [nbSpinner]="loading">
        <nb-card-header>
          <label class="label">Admins</label>
        </nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let admin of admins">
              <div class="w-100">
                <nb-user size="small" [name]="admin.name" [title]="admin.role">
                </nb-user>
                <br />
                <button
                  (click)="makeStaff(admin?.id)"
                  nbButton
                  size="tiny"
                  status="danger"
                >
                  Remove as Admin
                </button>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
  </ng-container>
</section>


<section>
  <ng-container *ngIf="userS.UserInfo.role == role.SUPER">
    <div>
      <nb-card [nbSpinner]="loading">
        <nb-card-header>
          <label class="label">Super Admins</label>
        </nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let super of supers">
              <div class="w-100">
                <nb-user size="small" [name]="super.name | titlecase" [title]="super.role | titlecase">
                </nb-user>
                <br />
                <button
                  (click)="makeAdmin(super?.id)"
                  nbButton
                  size="tiny"
                  status="danger"
                >
                  Remove as Super Admin
                </button>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
  </ng-container>
</section>
