<nb-list [nbSpinner]="loadingApprovals">
  <nb-list-item>
    <div class="row w-100">
      <div class="col-md-4"><label class="label">Title</label></div>
      <div class="col-md-2"><label class="label">Created By</label></div>
      <div class="col-md-2"><label class="label">Creted On</label></div>
      <div class="col-md-2"><label class="label">Type</label></div>
      <div class="col-md-2"><label class="label">Status</label></div>
    </div>
  </nb-list-item>
  <nb-list-item class="col-12 list-item" *ngFor="let r of approvalsInView" [ngClass]="{
      brCompleted: r.status == rs.APPROVED,
      brInprogress: r.status == rs.PENDING,
      brCancelled: r.status == rs.CANCELLED
    }" (click)="view(r.id)">
    <div class="list-item-inner">
      <div class="row">
        <div class="col-4">
          <span class="fs">{{ r.name }}</span>
        </div>
        <div class="col-2">
          <span class="fs"><i class="fa fa-user mr-1" aria-hidden="true"></i>{{ r.createdBy | getName | async}}</span>
        </div>
        <div class="col-2">
          <span class="fs">{{ r.createdOn | date }}</span>
        </div>
        <div class="col-2">
          <span class="fs">{{ r?.type | uppercase }}</span>
        </div>
        <div class="col-2">
          <div class="font-weight-bold badge pj-badge" [ngClass]="{
              completed: r.status == rs.APPROVED,
              inprogress: r.status == rs.PENDING,
              cancelled: r.status == rs.CANCELLED
            }">
            {{ r.status | uppercase }}
          </div>
        </div>
      </div>
    </div>
  </nb-list-item>
  <nb-list-item *ngIf="approvalsInView.length == 0">
    <label class="text-center" *ngIf="loadingApprovals === false">No Approval on List</label>
  </nb-list-item>
</nb-list>
