<section>
  <nb-card [nbSpinner]="!bid">
    <nb-card-header>
      <label class="label">Showing Details of Bid: {{ bid?.id }}</label>
      <button
        *ngIf="userS.UserInfo?.id === bid?.vendorId && bid?.status == 'PENDING'"
        class="mx-2"
        nbButton
        status="danger"
        size="small"
        (click)="cancel()"
      >
        Cancel Bid
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="my-2">
        <nb-list>
          <nb-list-item>
            <label class="label"> Vendor Name: </label>
            <label
              ><b>{{ bid?.vendorId | getName | async }}</b></label
            >
          </nb-list-item>
          <nb-list-item>
            <label class="label"> Bidded on: </label>
            <label
              ><b>{{ bid?.createdOn | date }}</b></label
            >
          </nb-list-item>
          <nb-list-item>
            <label class="label">Status: </label>
            <label
              ><b>{{ bid?.status | uppercase }}</b></label
            >
          </nb-list-item>
          <nb-list-item>
            <label class="label">Details: </label>
            <label
              ><b>{{ bid?.details }}</b></label
            >
          </nb-list-item>
          <nb-list-item>
            <label class="label">Attachment:</label>
            <label
              ><a
                *ngIf="bid?.attachment"
                [href]="bid?.attachment"
                target="_blank"
              >
                <b>Click to Download </b>
              </a></label
            >
            <label *ngIf="!bid?.attachment"><b>None</b></label>
          </nb-list-item>
        </nb-list>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <ng-container
        *ngIf="userS.UserInfo?.role == role.STAFF && bid?.status === 'PENDING'"
      >
        <label class="label">Staff Bid Decision</label>
        <div>
          <button
            class="mx-1"
            nbButton
            status="success"
            size="small"
            (click)="approve(role.STAFF)"
          >
            Accept Bid
          </button>
          <button
            class="mx-1"
            nbButton
            status="danger"
            size="small"
            (click)="reject(role.STAFF)"
          >
            Reject Bid
          </button>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          userS.UserInfo?.role == role.ADMIN &&
          bid?.staffDecision?.status == 'APPROVED'
        "
      >
        <label class="label">Admin Bid Decision</label>
        <div>
          <button
            class="mx-1"
            nbButton
            status="success"
            size="small"
            (click)="approve(role.ADMIN)"
          >
            Accept Bid
          </button>
          <button
            class="mx-1"
            nbButton
            status="danger"
            size="small"
            (click)="reject(role.ADMIN)"
          >
            Reject Bid
          </button>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          userS.UserInfo?.role == role.SUPER &&
          bid?.adminDecision?.status == 'APPROVED'
        "
      >
        <label class="label">Super Admin Bid Decision</label>
        <div>
          <button
            class="mx-1"
            nbButton
            status="success"
            size="small"
            (click)="approve(role.SUPER)"
          >
            Accept Bid
          </button>
          <button
            class="mx-1"
            nbButton
            status="danger"
            size="small"
            (click)="reject(role.SUPER)"
          >
            Reject Bid
          </button>
        </div>
      </ng-container>

      <!--   <ng-container *ngIf="userS.UserInfo?.role == role.VENDOR && userS.UserInfo?.id === bid?.vendorId">
      <button class="mx-1" nbButton status="success" size="medium" (click)="confirm()">Accept Bid</button>
      <button class="mx-1" nbButton status="danger" size="medium" (click)="confirm()">Reject Bid</button>
    </ng-container> -->

      <!--  <button class="mx-1" nbButton status="primary" size="medium" (click)="viewRFO()">View Request</button> -->
    </nb-card-footer>
  </nb-card>
</section>


<ng-container *ngIf="userS.UserInfo?.role !== role.VENDOR">
  <section>
    <nb-card>
      <nb-card-header>
        <label class="label">Bid Approval Information</label>
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item>
            <label class="label"> Bid Status: </label>
            <label
              ><b>{{ bid?.status }}</b></label
            >
          </nb-list-item>
          <nb-list-item>
            <div>
              <label class="label"> Staff Approval: </label>
              <label
                ><b>{{ bid?.staffDecision?.status }}</b></label
              >
            </div>
            <div>
              <label class="label"
                >By: <b>{{ bid?.staffDecision?.userId }}</b></label
              >
              <label class="label"
                >On: <b>{{ bid?.staffDecision?.timestamp | date }}</b></label
              >
            </div>
          </nb-list-item>
          <nb-list-item>
            <div>
              <label class="label"> Admin Approval: </label>
              <label
                ><b>{{ bid?.adminDecision?.status }}</b></label
              >
            </div>
            <div>
              <label class="label"
                >By: <b>{{ bid?.adminDecision?.userId }}</b></label
              >
              <label class="label"
                >On: <b>{{ bid?.adminDecision?.timestamp | date }}</b></label
              >
            </div>
          </nb-list-item>
          <nb-list-item>
            <div>
              <label class="label">Super Admin Approval: </label>
              <label
                ><b>{{ bid?.superDecision?.status }}</b></label
              >
            </div>
            <div>
              <label class="label"
                >By: <b>{{ bid?.superDecision?.userId }}</b></label
              >
              <label class="label"
                >On: <b>{{ bid?.superDecision?.timestamp | date }}</b></label
              >
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </section>
</ng-container>
